<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomwells.contactsapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar" >
        <activity
            android:name=".FirstScreen"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".SecondScreen"
            android:label="@string/title_activity_second_screen" >
        </activity>
        <activity
            android:name=".MoreInfo"
            android:label="@string/title_activity_more_info" >
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
